<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.selfcare.selfcare" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Splash screen -->
        <activity
            android:name=".splashscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Images Slide show -->
        <activity
            android:name=".ImageSlider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.ImageSlider" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Login Or Register -->
        <activity
            android:name=".Login_Register"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.Login_Register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Register D/P -->
        <activity
            android:name=".Doctor_PatientReg"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.Relative_number" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Registration Activity -->
        <activity
            android:name=".Registrion"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.Registrion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Patient Taphost -->

        <activity
            android:name=".Patient_Taphost"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.Patient_Taphost" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Doctor Activity -->

        <activity
            android:name=".Doctor_patient"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.Doctor_patient" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Relative numbers Activity -->
        <activity
            android:name=".Relative_number"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.Relative_number" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Patient Profile -->
        <activity
            android:name=".Patient_Profile"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.Patient_Profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Doctor Activity 1 -->
        <activity
            android:name=".Doctor_regster"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.Doctor_regster" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Doctor Photo -->

        <activity
            android:name=".Doctor_IDphoto"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.DR_RelativeNumbers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Patient Profile -->
        <activity
            android:name=".DR_RelativeNumbers"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.DR_RelativeNumbers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Doctor Profile -->
        <activity
            android:name=".Doctor_Taphost"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.Doctor_Profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Doctor_Profile"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.selfcare.selfcare.Doctor_Profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Test" >
        </activity>
        <activity android:name=".Delete_profile" >
        </activity>
        <activity android:name=".View_patient_profile" >
        </activity>
    </application>

</manifest>
